doctype html
html
  head
    title= "Home Page"
  body
    h1= "Home Page"
    p Click #[a(href=loginLink) here] to go to the login page.
    p Click #[a(href=registerLink) here] to go to the register page