doctype html
html
  head
    title= "Register Page"
  body
    h1= "Register Page"
    form(action="/register", method="post")
      label(for="name") Name:
      input(type="text", id="name", name="name", required)
      br
      label(for="email") Email:
      input(type="email", id="email", name="email", required)
      br
      label(for="username") Username:
      input(type="text", id="username", name="username", required)
      br
      label(for="password") Password:
      input(type="password", id="password", name="password", required)
      br
      input(type="submit", value="Register")
    p(style="color: red") #{message}
    p Click #[a(href=loginLink) here] to go to the login page